<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
  <meta name="viewport" content="user-scalable=no,width=device-width" />
  <link rel="stylesheet" href="/webjars/jquery-mobile/1.4.2/jquery.mobile.css" />
  <script src="/webjars/jquery/2.1.0/jquery.js"></script>
  <script src="/webjars/jquery-mobile/1.4.2/jquery.mobile.js"></script>
  <script src="/js/sockjs-0.3.4.js"></script>
  <script src="/js/stomp.js"></script>
  <script src="/js/application.js"></script>
</head> 

<body> 

<div data-role="page" id="waiting">
  <div data-role="header">
    <h1>Trivia!!!!</h1>
    <a href="/logout">Quit</a>
  </div>
  <div data-role="content">
    <p>Waiting for the next question....</p>
  </div>
</div>

<div data-role="page" id="question" >
  <div data-role="header">
    <h1>Trivia!!!!</h1>
    <a href="/logout">Quit</a>
  </div>

  <div data-role="content">
    <span id="questionText"></span>
    <a href="#" data-role="button"><span id="answerAText">Answer A</span></a>
    <a href="#" data-role="button"><span id="answerBText">Answer B</span></a>
    <a href="#" data-role="button"><span id="answerCText">Answer C</span></a>
    <a href="#" data-role="button"><span id="answerDText">Answer D</span></a>
  </div>
</div>

</body>
</html>