
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="navigation">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Trivia</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li th:if="${user.isAdmin()}"><a href="/admin/">Admin</a></li>
						<li><a href="/logout">Quit</a></li>

					</ul>
					<form th:if="${user.isAdmin()}" class="navbar-form navbar-right"
						role="search">
						<button type="button" ng-show="game.state == 'WAIT'" ng-click="continueToNextState()"
							class="btn btn-success">Continue</button>
					</form>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

</body>

</html>